*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#notification{
    position: relative;
}
#bellicon{
    font-size: 4rem;
}
#like{
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgb(232, 15, 51);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 50%;
    height: 1.75rem;
    width: 1.75rem;
    font-size: 1.25rem;
}
#likebutton{
    margin-top: 1rem;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    background: rgb(27, 94, 239);
    transition: all 0.5sec;
}
#likebutton span{
    font-size: 2rem;
    color: white;
}
#likebutton:hover{
    cursor: pointer;
    background-color: rgb(55, 115, 244);
}